name: Rust

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v3
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: x86_64-unknown-none
    - name: CI
      run: just ci
